serviceName serviceLocation executionRatio parDeg
0_MOTION_OBJECT_DETECT edge-0-l0_0 1 32
0_OBJECT_TRACKER edge-0-l0_1 1 32
0_USER_INTERFACE edge-0-l0_2 1 32
1_MOTION_OBJECT_DETECT edge-1-l0_0 1 32
1_OBJECT_TRACKER edge-1-l0_1 1 32
1_USER_INTERFACE edge-1-l0_2 1 32
2_MOTION_OBJECT_DETECT edge-2-l0_0 1 32
2_OBJECT_TRACKER edge-2-l0_1 1 32
2_USER_INTERFACE edge-2-l0_2 1 32
3_MOTION_OBJECT_DETECT edge-3-l0_0 1 32
3_OBJECT_TRACKER edge-3-l0_1 1 32
3_USER_INTERFACE edge-3-l0_2 1 32
4_MOTION_OBJECT_DETECT edge-4-l0_0 1 32
4_OBJECT_TRACKER edge-4-l0_1 1 32
4_USER_INTERFACE edge-4-l0_2 1 32
5_MOTION_OBJECT_DETECT edge-5-l0_0 1 32
5_OBJECT_TRACKER edge-5-l0_1 1 32
5_USER_INTERFACE edge-5-l0_2 1 32
6_MOTION_OBJECT_DETECT edge-6-l0_0 1 32
6_OBJECT_TRACKER edge-6-l0_1 1 32
6_USER_INTERFACE edge-6-l0_2 1 32
7_MOTION_OBJECT_DETECT edge-7-l0_0 1 32
7_OBJECT_TRACKER edge-7-l0_1 1 32
7_USER_INTERFACE edge-7-l0_2 1 32
8_MOTION_OBJECT_DETECT edge-8-l0_0 1 32
8_OBJECT_TRACKER edge-8-l0_1 1 32
8_USER_INTERFACE edge-8-l0_2 1 32
9_MOTION_OBJECT_DETECT edge-9-l0_0 1 32
9_OBJECT_TRACKER edge-9-l0_1 1 32
9_USER_INTERFACE edge-9-l0_2 1 32
10_MOTION_OBJECT_DETECT edge-10-l0_0 1 32
10_OBJECT_TRACKER edge-10-l0_1 1 32
10_USER_INTERFACE edge-10-l0_2 1 32
11_MOTION_OBJECT_DETECT edge-11-l0_0 1 32
11_OBJECT_TRACKER edge-11-l0_1 1 32
11_USER_INTERFACE edge-11-l0_2 1 32
12_MOTION_OBJECT_DETECT edge-12-l0_0 1 32
12_OBJECT_TRACKER edge-12-l0_1 1 32
12_USER_INTERFACE edge-12-l0_2 1 32
13_MOTION_OBJECT_DETECT edge-13-l0_0 1 32
13_OBJECT_TRACKER edge-13-l0_1 1 32
13_USER_INTERFACE edge-13-l0_2 1 32
default manager 1 10
