serviceName nodename
0_MOTION_DETECT cloud_4
0_MOTION_DETECT cloud_5
0_MOTION_DETECT cloud_6
0_MOTION_DETECT cloud_7
0_MOTION_DETECT cloud_8
0_MOTION_DETECT cloud_9
0_MOTION_DETECT cloud_10
0_MOTION_DETECT cloud_11
0_MOTION_DETECT cloud_12
0_MOTION_DETECT cloud_13
0_MOTION_DETECT cloud_14
0_MOTION_DETECT cloud_15
0_MOTION_DETECT cloud_16
0_OBJECT_DETECT cloud_17
0_OBJECT_DETECT cloud_18
0_OBJECT_DETECT cloud_19
0_OBJECT_DETECT cloud_20
0_OBJECT_DETECT cloud_21
0_OBJECT_DETECT cloud_22
0_OBJECT_DETECT cloud_23
0_OBJECT_DETECT cloud_24
0_OBJECT_DETECT cloud_25
0_OBJECT_DETECT cloud_26
0_OBJECT_DETECT cloud_27
0_OBJECT_DETECT cloud_28
0_OBJECT_DETECT cloud_29
0_OBJECT_TRACKER cloud_30
0_OBJECT_TRACKER cloud_31
0_OBJECT_TRACKER cloud_32
0_OBJECT_TRACKER cloud_33
0_OBJECT_TRACKER cloud_34
0_OBJECT_TRACKER cloud_35
0_OBJECT_TRACKER cloud_36
0_OBJECT_TRACKER cloud_37
0_OBJECT_TRACKER cloud_38
0_OBJECT_TRACKER cloud_39
0_OBJECT_TRACKER cloud_40
0_OBJECT_TRACKER cloud_41
0_OBJECT_TRACKER cloud_42
0_USER_INTERFACE cloud_43
0_USER_INTERFACE cloud_44
0_USER_INTERFACE cloud_45
0_USER_INTERFACE cloud_46
0_USER_INTERFACE cloud_47
0_USER_INTERFACE cloud_48
0_USER_INTERFACE cloud_49
0_USER_INTERFACE cloud_50
0_USER_INTERFACE cloud_51
0_USER_INTERFACE cloud_52
0_USER_INTERFACE cloud_53
0_USER_INTERFACE cloud_54
0_USER_INTERFACE cloud_55
